button {
    border-radius: 4px;
    border: none;
    padding: 12px 32px;
    font-weight: 700;
    font-size: 22px
}

.primary-action {
    background-color: #e6e6e6;
    color: #0d0d0d
}

li {
    display: inline;
    margin-right: 12px
}