<div class="App">
  <header class="hero">
    <app-hero-image></app-hero-image>
    <app-navigation></app-navigation>
    <div class="hero-content">
      <app-hero-content-title-image [heroContent]="heroContent"></app-hero-content-title-image>
      <app-hero-content-description [heroContent]="heroContent"></app-hero-content-description>
      <ul class="controls">
        <li>
          <button class="primary-action">
            <fa-icon [icon]="faPlay"></fa-icon>
            <span>Drink</span>
          </button>
        </li>
        <li>
          <button class="secondary-action">
            <fa-icon [icon]="faInfoCircle"></fa-icon>
            <span>More Info</span>
          </button>
        </li>
      </ul>
    </div>
  </header>
  <main>
    <app-wine-category [wines]="finishedWines" [category]="'Drink Again'"></app-wine-category>
    <app-wine-category [wines]="unfinishedWines" [category]="'Keep Drinking'"></app-wine-category>
  </main>
</div>